.bottom {
    display: none;
}

.social-icons {
    padding-top: 10px;
}

@media only screen and (min-width: 1000px) {
    .top {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: repeat(2, auto);
        padding-bottom: 30px;
    }
    
    .bottom {
        display: grid;
        grid-template-columns: repeat(6, 200px);
        grid-template-rows: repeat(5, auto);
    }
    
    .info__wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .title {
        color: grey;
        font-size: $titleDesktopSize;
    }

    .title-bio {
        font-size: .95rem;
        color: grey;
    }
}