.bottom {
    display: none;
}

.social-icons {
    padding-top: 20px;
}

.social-media {
    font-family: $monsterratFont; 
    font-size: 1rem;
    color: #22262A;
}

.social-media__desc {
    font-family: $monsterratFont; 
    font-size: .8rem;
    color: #22262A;
}

.redirects__wrapper {
    display: none;
}

.title {
    font-family: $monsterratFont;
    color: #C1C8CE;
    font-size: $titleMobileSize;
}

@media only screen and (min-width: 1000px) {
    .top {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: repeat(2, auto);
        padding-bottom: 30px;
    }
    
    .bottom {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(6, 200px);
        grid-template-rows: repeat(5, auto);
    }
    
    .info__wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .title {
        font-family: $monsterratFont;
        color: #C1C8CE;
        font-size: $titleDesktopSize;
    }

    .title-bio {
        font-family: $monsterratFont; 
        font-size: .8rem;
        color: #22262A;
    }

    .redirects__wrapper {
        display: block;
    }

    .contact {
        font-family: $monsterratFont;
        font-size: $mainDisplayParagraphDesktopSize;
    }

    .contact-info {
        font-family: $monsterratFont;
        font-size: .75rem;
    }
}