
    .app__main-display {
        background: linear-gradient(0.25turn, #FF4858, #8F65FF);
        margin-top: 40px;
        border: 2px solid black;
        height: 280px;
    }

    .app__main-title {
        color: white;
        width: 200px;
        font-size: $titleMobileSize;
    }

    .app__main-paragraph {
        color: white;
        width: 200px;
        font-size: $redirectsMobileSize;
    }

    .app__main--smaller-wrapper {
        display: flex;
        justify-content: center;
    }

    .app__main-display--smaller {
        position: relative;
        bottom: 50px;
        border: 2px solid black;
        width: 33%;
        height: 101px;
    }

    .app__main-display--item {
        position: relative;
        top: 25px;
        float: right;
        border: 2px solid black;
        width: 150px;
        height: 200px;
    }

@media only screen and (min-width: 500px) {
    .app__main-display {
        background: linear-gradient(0.25turn, #FF4858, #8F65FF);
        margin-top: 40px;
        border: 2px solid black;
        height: 380px;
    }

    .app__main--smaller-wrapper {
        display: flex;
        justify-content: center;
    }

    .app__main-display--smaller {
        position: relative;
        bottom: 50px;
        border: 2px solid black;
        width: 33%;
        height: 151px;
    }

    .app__main-display--item {
        position: relative;
        top: 25px;
        float: right;
        border: 2px solid black;
        width: 275px;
        height: 300px;
    }
}

@media only screen and (min-width: 600px) {
    .app__main-display {
        background: linear-gradient(0.25turn, #FF4858, #8F65FF);
        margin-top: 40px;
        border: 2px solid black;
        height: 480px;
    }

    .app__main-paragraph {
        width: 340px;
    }

    .app__main--smaller-wrapper {
        display: flex;
        justify-content: center;
    }

    .app__main-display--smaller {
        position: relative;
        bottom: 50px;
        border: 2px solid black;
        width: 310px;
        height: 201px;
    }
}

@media only screen and (min-width: 1000px) {
    .app__main-display {
        background: linear-gradient(0.25turn, #FF4858, #8F65FF);
        margin-top: 40px;
        border: 2px solid black;
        height: 580px;
    }

    .app__main--smaller-wrapper {
        display: flex;
        justify-content: center;
    }

    .app__main-display--smaller {
        position: relative;
        bottom: 50px;
        border: 2px solid black;
        width: 310px;
        height: 201px;
    }

    .app__main-display--item {
        position: relative;
        top: 70px;
        float: right;
        border: 2px solid black;
        width: 630px;
        height: 450px;
    }
}

@media only screen and (min-width: 1300px) {
    /* Declare as display flex */
    .app__main-display {
        background: linear-gradient(0.25turn, #FF4858, #8F65FF);
        margin-top: 40px;
        border: 2px solid black;
        height: 650px;
    }

    .app__main-title {
        color: white;
        margin: 50px 0px 0px 100px;
        width: 200px;
        font-size: $titleDesktopSize;
    }

    .app__main-paragraph {
        color: white;
        margin: 50px 0px 0px 100px;
        width: 400px;
        font-size: $redirectsDesktopSize;
    }

    .app__main--smaller-wrapper {
        display: flex;
        justify-content: center;
    }

    .app__main-display--smaller {
        position: relative;
        bottom: 50px;
        border: 2px solid black;
        width: 390px;
        height: 280px;
    }

    /* Could be done with flex-end inside the parent element */
    .app__main-display--item {
        position: relative;
        top: 10px;
        right: 70px;
        float: right;
        border: 2px solid black;
        width: 630px;
        height: 380px;
    }
}