    .app__main-display {
        background: linear-gradient(0.25turn, #FF4858, #8F65FF);
        margin-top: 40px;
        height: 280px;
    }

    .app__main-title {
        color: white;
        width: 200px;
        font-size: $titleMobileSize;
        font-family: $monsterratFont;
    }

    .app__main-paragraph {
        color: white;
        width: 200px;
        font-family: $monsterratFont;
        font-size: $redirectsMobileSize;
    }

    .app__main--smaller-wrapper {
        display: flex;
        justify-content: center;
    }

    .app__main-display--smaller {
        position: relative;
        bottom: 50px;
        width: 33.3%;
        height: 101px;
    }

    .app__main-display--item {
        align-self: flex-end;
        position: relative;
        margin-left: 35%;
        margin-bottom: 20px;
        width: 175px;
        height: 200px;
    }

    .app__main-display--smaller-iphone6 {
        background-color: #FF6875;
    }

    .app__main-display--smaller-oculus {
        background-color: #F6F7F8;
    }

    .app__main-display--smaller-gopro {
        background-color: #C1C8CE;
    }

    .app__main-display--smaller-iphone6--image {
        width: 50px;
        height: 50px;
    }

    .app__main-display--smaller-oculus--image {
        width: 75px;
        height: 50px;
    }

    .app__main-display--smaller-gopro--image {
        width: 50px;
        height: 50px;
    }

    .app__main-display--smaller-iphone6-desc {
        font-family: $monsterratFont;
        font-size: 0rem;
    }
    
    .app__main-display-title {
        font-size: $titleMobileSize;
        font-family: $monsterratFont;
        color: white;
    }

@media only screen and (min-width: 600px) {
    .app__main-display {
        display: flex;
        background: linear-gradient(0.25turn, #FF4858, #8F65FF);
        margin-top: 40px;
        height: 480px;
    }

    .app__main-paragraph {
        width: 340px;
    }

    .app__main--smaller-wrapper {
        display: flex;
        justify-content: center;
    }

    .app__main-display--smaller {
        position: relative;
        bottom: 50px;
        width: 310px;
        height: 201px;
    }

    .app__main-display--item {
        align-self: flex-end;
        position: relative;
        margin-left: auto;
        margin-bottom: 0px;
        width: 410px;
        height: 350px;
    }

    .app__main-display--smaller-iphone6-desc {
        font-size: $mainDisplaySmallerDescDesktopSize;
        color: $white;
    }
}

@media only screen and (min-width: 1000px) {
    .app__main-display {
        display: flex;
        background: linear-gradient(0.25turn, #FF4858, #8F65FF);
        margin-top: 40px;
        height: 580px;
    }

    .app__main--smaller-wrapper {
        display: flex;
        justify-content: center;
    }

    .app__main-display--smaller {
        position: relative;
        bottom: 50px;
        width: 310px;
        height: 201px;
    }

    .app__main-display--item {
        align-self: flex-end;
        position: relative;
        margin-left: auto;
        margin-bottom: 20px;
        width: 550px;
        height: 450px;
    }

    .app__main-display--smaller-iphone6-desc {
        content: "Lorem Ipsum dolor sit amet, consectetur adipiscing elit, labor";
        font-size: $mainDisplaySmallerDescDesktopSize;
        color: $white;
    }
}

@media only screen and (min-width: 1300px) {
    /* Declare as display flex */
    .app__main-display {
        display: flex;
        background: linear-gradient(0.25turn, #FF4858, #8F65FF);
        margin-top: 23px;
        height: 650px;
    }

    .app__main-title {
        color: white;
        margin: 50px 0px 0px 100px;
        width: 200px;
        font-size: $titleDesktopSize;
    }

    .app__main-paragraph {
        color: white;
        margin: 30px 0px 0px 100px;
        width: 400px;
        font-size: $mainDisplayParagraphDesktopSize;
    }

    .app__main--smaller-wrapper {
        display: flex;
        justify-content: center;
    }

    .app__main-display--smaller {
        position: relative;
        bottom: 50px;
        width: 390px;
        height: 280px;
    }

    .app__main-display--item {
        align-self: flex-end;
        position: relative;
        margin-left: auto;
        margin-bottom: 0px;
        margin-right: 200px;
        width: 630px;
        height: 580px;
    }

    .app__main-display--smaller-iphone6-desc {
        position: relative;
        top: 45px;
        left: 20px;
        padding: 10px 0px;
        width: 275px;
        height: 50px;
        content: "Lorem Ipsum dolor sit amet, consectetur adipiscing elit, labor";
        font-size: $mainDisplaySmallerDescDesktopSize;
        color: $white;
    }

    .app__main-display--desc-wrapper {
        margin-left: auto;
    }

    .app__main-display-title {
        position: relative;
        left: 20px;
        top: 45px;
        font-size: $titleMobileSize;
        color: white;
    }

    .app__main-display--smaller-iphone6--image {
        float: right;
        width: 175px;
        height: 175px;
    }

    .app__main-display--smaller-oculus--image {
        margin-top: 30px;
        margin-left: 100px;
        width: 175px;
        height: 125px;
    }

    .app__main-display-title--oculus {
        color: #22262A;
        margin-right: 45px;
    }

    .app__main-display-title--oculus--price {
        color: #22262A;
        display: inline-block;
        margin-left: 45px;
    }

    .app__main-display--smaller-gopro--image {
        width: 150px;
        height: 150px;
        margin-left: 175px;
    }

    .oculus__wrapper {
        display: flex;
        justify-content: center;
    }
}