.shop {
    padding-top: 55px;
}

.shop-wrapper {
    display: none;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 1000px) {

    .shop-wrapper {
        display: flex;
        flex-flow: column;
    }


    .shop__query-wrapper {
        width: 270px;
        border: 2px solid #E5E5E5;
        margin-left: 40px;
        margin-bottom: 30px;
        background-color: #E5E5E5;
        padding: 0px 30px;
    }

    .shop__accessories-wrapper {
        display: grid;
        grid-template-rows: repeat(6, auto); 
        grid-template-columns: repeat(2, auto);
    }

    .accessories__title {
        font-family: $monsterratFont;
        font-size: 18px;
        color: #262626;
        padding: 29px 0px;
    }

    .accessories__title--options {
        list-style: none;
        font-family: $monsterratFont;
        font-size: .75rem;
        color: #262626;
        padding-bottom: 23px;
    }

    .accessories__title--options--amount {
        padding-left: 91px;
    }

    /* Just add hover effects for the options */
    .items__macbooks {
        border: 3px solid rgb(193, 195, 199);
        width: 270px;
        height: 350px;
        display: flex;
        justify-content: center;
    }

    .shop__items-wrapper {
        float: right;
        display: grid;
        position: relative;
        right: 315px;
        bottom: 570px;
        grid-template-rows: repeat(4, 350px); 
        grid-template-columns: repeat(3, 270px);
        grid-gap: 25px;
    }

    .macbook__image {
        width: 236;
        height: 153px;
    }
}