/* https://codepen.io/roufs_designs/pen/VwYNbJM?editors=1101 */

.shop {
    padding-top: 55px;
}

.shop__menu {
    display: none;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 1000px) {
    
    .shop {
        padding-top: 55px;
        display: flex;
        flex-flow: row nowrap;
    }

    .shop__menu {
        display: flex;
        flex-flow: column nowrap;
        padding-top: 5rem;
        flex: 2;
    }

    .panel {
        width: 270px;
        border: 2px solid #E5E5E5;
        margin-left: 40px;
        margin-bottom: 30px;
        background-color: #E5E5E5;
        padding: 0px 30px;
    }

    .shop__accessories-wrapper {
        display: grid;
        grid-template-rows: repeat(6, auto); 
        grid-template-columns: repeat(2, auto);
    }

    .card {
        border: 2px solid rgb(201, 198, 198);
      }

    .accessories__title {
        font-family: $monsterratFont;
        font-size: 18px;
        color: #262626;
        padding: 29px 0px;
    }

    .accessories__title--options {
        list-style: none;
        font-family: $monsterratFont;
        font-size: .75rem;
        color: #262626;
        padding-bottom: 23px;
    }

    .accessories__title--options--amount {
        padding-left: 91px;
    }

    /* Just add hover effects for the options */
    .items__macbooks {
        border: 3px solid rgb(193, 195, 199);
        width: 270px;
        height: 350px;
        display: flex;
        justify-content: center;
    }

    .shop__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        row-gap: 5rem;
        column-gap: 4rem;
        flex: 5;
        padding: 6rem; /* its probably better to add another div */
      }

    .macbook__image {
        width: 236;
        height: 153px;
        /* center this */
    }
}