.shop {
    padding-top: 55px;
}

.shop__query-wrapper {
    display: none;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 1000px) {
    .shop__query-wrapper {
        display: inline-block;
        border: 2px solid #E5E5E5;
        margin-left: 40px;
        margin-bottom: 30px;
        background-color: #E5E5E5;
        padding: 0px 30px;
    }

    .shop__accessories-wrapper {
        display: grid;
        grid-template-rows: repeat(6, auto); 
        grid-template-columns: repeat(2, auto);
    }

    .accessories__title {
        font-family: $monsterratFont;
        font-size: 18px;
        color: #262626;
        padding: 29px 0px;
    }

    .accessories__title--options {
        font-family: $monsterratFont;
        font-size: .75rem;
        color: #262626;
        padding-bottom: 23px;
    }

    .accessories__title--options--amount {
        padding-left: 91px;
    }

    /* Just add hover effects for the options */
}