    .app__personal-configs {
        border-bottom: 2px solid #ececec;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .app__personal-configs__expression {
        font-size: $topConfigsMobile;
        margin: 10px 0px;
    }

    .app__personal-configs__drop-down {
        margin-bottom: 10px 0px;
        border: 2px solid black;
        width: 10px;
        height: 10px;
    }
    
    .app__title {
        margin-top: 20px;
        font-size: $titleMobileSize;
        color: red;
        text-align: center;
        letter-spacing: 5px;
    }
    
    .app__redirects-wrapper {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }
    
    .app__redirects-options {
        color: #22262A;
        text-decoration: none;
        font-size: $redirectsMobileSize;
        padding-right: 10px;
   }

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 1000px) {

}

@media only screen and (min-width: 1300px) {
    .app__title {
        margin-top: 20px;
        font-size: $titleDesktopSize;
        color: red;
        text-align: center;
        letter-spacing: 5px;
    }

    .app__redirects-options {
        padding-top: 15px;
        text-decoration: none;
        font-size: $redirectsDesktopSize;
        padding-right: 30px;
    }

    .personal-configs__wrapper {
        display: flex;
        align-items: center;
    }
}