/* Colors */
$white: #FFFFFF;




/* Fonts */
$monsterratFont: 'Montserrat', sans-serif;

/* Font Sizes */

/* MOBILE */
$topConfigsMobile: .75rem;

$titleMobileSize: 1.15rem;
$redirectsMobileSize: 0.55rem;

$mainDisplayTitleMobileSize: 1.15rem; 
$mainDisplayParagraphMobileSize: 0.85rem;

$mainDisplaySmallerDescMobileSize: 0.55rem;

/* TABLET */


/* SMALLER MONITOR */


/* DESKTOPS */
$topConfigsDesktop: .9rem;

$titleDesktopSize: 2.25rem;
$redirectsDesktopSize: .7rem;

$mainDisplayTitleDesktopSize: 1.15rem; 
$mainDisplayParagraphDesktopSize: 1.15rem;

$mainDisplaySmallerDescDesktopSize: .9rem;