/* Colors */





/* Fonts */





/* Font Sizes */

/* MOBILE */
$titleMobileSize: 1.15rem;
$redirectsMobileSize: .55rem;

/* TABLET */


/* SMALLER MONITOR */


/* DESKTOPS */
$titleDesktopSize: 2.75rem;
$redirectsDesktopSize: 1.45rem;