/* Colors */





/* Fonts */





/* Font Sizes */

/* MOBILE */
$topConfigsMobile: .75rem;

$titleMobileSize: 1.15rem;
$redirectsMobileSize: 0.55rem;

$mainDisplayTitleDesktopSize: 1.15rem; 
$mainDisplayParagraphDesktopSize: 0.85rem;

/* TABLET */


/* SMALLER MONITOR */


/* DESKTOPS */
$topConfigsDesktop: 1.25rem;

$titleDesktopSize: 2.75rem;
$redirectsDesktopSize: 1.15rem;

$mainDisplayTitleDesktopSize: 1.15rem; 
$mainDisplayParagraphDesktopSize: 1.45rem;