@import "./variables";
@import "./top";
@import "./mainshowcase";
@import "./saledisplay";
@import "./footer";

/* Base Attributes */
* {
    margin: 0;
    padding: 0;
} 

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: 30;
}