/* Colors */
/* Fonts */
/* Font Sizes */
/* MOBILE */
/* TABLET */
/* SMALLER MONITOR */
/* DESKTOPS */
.app__personal-configs {
  border-bottom: 2px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__personal-configs__expression {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  margin: 10px 0px;
  cursor: pointer;
}

.app__personal-configs__drop-down {
  margin-bottom: 10px 0px;
  cursor: pointer;
  border: 2px solid black;
  width: 10px;
  height: 10px;
}

.app__title {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15rem;
  color: red;
  text-align: center;
  letter-spacing: 5px;
}

.app__redirects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.app__redirects-options {
  color: #22262A;
  text-decoration: none;
  font-size: 0.55rem;
  font-family: "Montserrat", sans-serif;
  padding-right: 10px;
}

@media only screen and (min-width: 1300px) {
  .app__title {
    margin-top: 20px;
    font-size: 2.25rem;
    color: red;
    text-align: center;
    letter-spacing: 5px;
  }
  .app__personal-configs__expression {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    margin: 10px 0px;
    cursor: pointer;
  }
  .app__redirects-options {
    padding-top: 15px;
    text-decoration: none;
    font-size: 0.7rem;
    font-family: "Montserrat", sans-serif;
    padding-right: 30px;
  }
  .personal-configs__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.app__main-display {
  background: -webkit-gradient(linear, left top, right top, from(#FF4858), to(#8F65FF));
  background: linear-gradient(0.25turn, #FF4858, #8F65FF);
  margin-top: 40px;
  height: 280px;
}

.app__main-title {
  color: white;
  width: 200px;
  font-size: 1.15rem;
  font-family: "Montserrat", sans-serif;
}

.app__main-paragraph {
  color: white;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.55rem;
}

.app__main--smaller-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app__main-display--smaller {
  position: relative;
  bottom: 50px;
  width: 33.3%;
  height: 101px;
}

.app__main-display--item {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  margin-left: 35%;
  margin-bottom: 20px;
  width: 175px;
  height: 200px;
}

.app__main-display--smaller-iphone6 {
  background-color: #FF6875;
}

.app__main-display--smaller-oculus {
  background-color: #F6F7F8;
}

.app__main-display--smaller-gopro {
  background-color: #C1C8CE;
}

.app__main-display--smaller-iphone6--image {
  width: 50px;
  height: 50px;
}

.app__main-display--smaller-oculus--image {
  width: 75px;
  height: 50px;
}

.app__main-display--smaller-gopro--image {
  width: 50px;
  height: 50px;
}

.app__main-display--smaller-iphone6-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 0rem;
}

.app__main-display-title {
  font-size: 0.65rem;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.app__main-display-title--oculus {
  color: #22262A;
}

.app__main-display-title--oculus--price {
  color: #22262A;
  display: inline-block;
}

@media only screen and (min-width: 600px) {
  .app__main-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(linear, left top, right top, from(#FF4858), to(#8F65FF));
    background: linear-gradient(0.25turn, #FF4858, #8F65FF);
    margin-top: 40px;
    height: 480px;
  }
  .app__main-paragraph {
    width: 340px;
  }
  .app__main--smaller-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app__main-display--smaller {
    position: relative;
    bottom: 50px;
    width: 310px;
    height: 201px;
  }
  .app__main-display--item {
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: relative;
    margin-left: auto;
    margin-bottom: 0px;
    width: 410px;
    height: 350px;
  }
  .app__main-display--smaller-iphone6-desc {
    font-size: 0.9rem;
    color: #FFFFFF;
  }
}

@media only screen and (min-width: 1000px) {
  .app__main-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(linear, left top, right top, from(#FF4858), to(#8F65FF));
    background: linear-gradient(0.25turn, #FF4858, #8F65FF);
    margin-top: 40px;
    height: 580px;
  }
  .app__main--smaller-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app__main-display--smaller {
    position: relative;
    bottom: 50px;
    width: 310px;
    height: 201px;
  }
  .app__main-display--item {
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: relative;
    margin-left: auto;
    margin-bottom: 20px;
    width: 500px;
    height: 450px;
  }
  .app__main-display--smaller-iphone6-desc {
    content: "Lorem Ipsum dolor sit amet, consectetur adipiscing elit, labor";
    font-size: 0.9rem;
    color: #FFFFFF;
  }
}

@media only screen and (min-width: 1300px) {
  /* Declare as display flex */
  .app__main-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(linear, left top, right top, from(#FF4858), to(#8F65FF));
    background: linear-gradient(0.25turn, #FF4858, #8F65FF);
    margin-top: 23px;
    height: 650px;
  }
  .app__main-title {
    color: white;
    margin: 50px 0px 0px 100px;
    width: 200px;
    font-size: 2.25rem;
  }
  .app__main-paragraph {
    color: white;
    margin: 30px 0px 0px 100px;
    width: 400px;
    font-size: 1.15rem;
  }
  .app__main--smaller-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .app__main-display--smaller {
    position: relative;
    bottom: 50px;
    width: 390px;
    height: 280px;
  }
  .app__main-display--item {
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: relative;
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: 200px;
    width: 630px;
    height: 580px;
  }
  .app__main-display--smaller-iphone6-desc {
    position: relative;
    top: 45px;
    left: 20px;
    padding: 10px 0px;
    width: 275px;
    height: 50px;
    content: "Lorem Ipsum dolor sit amet, consectetur adipiscing elit, labor";
    font-size: 0.9rem;
    color: #FFFFFF;
  }
  .app__main-display--desc-wrapper {
    margin-left: auto;
  }
  .app__main-display-title {
    position: relative;
    left: 20px;
    top: 45px;
    font-size: 1.15rem;
    color: white;
  }
  .app__main-display--smaller-iphone6--image {
    float: right;
    width: 205px;
    height: 155px;
  }
  .app__main-display--smaller-oculus--image {
    margin-top: 30px;
    margin-left: 100px;
    width: 175px;
    height: 125px;
  }
  .app__main-display-title--oculus {
    color: #22262A;
  }
  .app__main-display-title--oculus--price {
    color: #22262A;
    display: inline-block;
  }
  .app__main-display--smaller-gopro--image {
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-left: 185px;
  }
  .oculus__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* https://codepen.io/roufs_designs/pen/VwYNbJM?editors=1101 */
.shop {
  padding-top: 55px;
}

.shop__menu {
  display: none;
}

.line {
  width: inherit;
  padding: 0px 5px;
  border: 1px solid #c9c6c6;
}

.image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.macbook__image {
  height: 153px;
}

.macbook__row-2 {
  display: none;
}

.macbook__row-3 {
  display: none;
}

.price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 1000px) {
  .shop {
    padding-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .shop__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding-top: 5rem;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .panel {
    width: 270px;
    border: 2px solid #E5E5E5;
    margin-left: 40px;
    margin-bottom: 30px;
    background-color: #E5E5E5;
    padding: 0px 30px;
  }
  .shop__accessories-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
  .card {
    border: 2px solid #c9c6c6;
  }
  .accessories__title {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #262626;
    padding: 29px 0px;
  }
  .accessories__title--options {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: .75rem;
    color: #262626;
    padding-bottom: 23px;
  }
  .accessories__title--options--amount {
    padding-left: 91px;
  }
  /* Just add hover effects for the options */
  .shop__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 5rem;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    padding: 6rem;
    /* its probably better to add another div */
  }
  .macbook__image {
    height: 153px;
  }
  .macbook__row-2 {
    display: block;
  }
  .macbook__row-3 {
    display: block;
  }
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    display: inline-block;
  }
  .blue {
    border: 2px solid #006CFF;
    background-color: #006CFF;
  }
  .red {
    border: 2px solid #FC3E39;
    background-color: #FC3E39;
  }
  .black {
    border: 2px solid black;
    background-color: black;
  }
  .yellow {
    border: 2px solid #FFF600;
    background-color: #FFF600;
  }
  .purple {
    border: 2px solid #FF00B4;
    background-color: #FF00B4;
  }
  .pink {
    border: 2px solid #EFDFDF;
    background-color: #EFDFDF;
  }
  .more {
    text-align: center;
    cursor: pointer;
  }
  .more:hover {
    color: #33A0FF;
  }
  .rating {
    width: 100px;
    height: 25px;
    border: 2px solid black;
  }
  .sub__title {
    font-size: .9rem;
  }
}

.top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[3];
      grid-template-columns: repeat(3, 400px);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

/* Base Attributes */
* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */